NEXT_PUBLIC_NUMBER_MIXSERVLOG = "WHATSAPP NUMBER MIXSERVLOG"
NEXT_PUBLIC_NUMBER_MIXSERVLOG_COMPANY = "WHATSAPP NUMBER MIXSERVLOG COMPANY"
NEXT_PUBLIC_SEARCH_CEP = "URL SEARCH CEP (VIACEP)"
NEXT_PUBLIC_RECAPTCHA = "TOKEN RECAPTCHA GOOGLE"
NEXT_PUBLIC_API_MIXSERVLOG = "TOKEN URL API MIXSERVLOG"